@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(30deg, #3b0f0f 20%, #030324 50%, #0a3142 70%);
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

.bubble-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;

  /* Adiciona bolhas desfocadas usando radial-gradient */
  background: radial-gradient(circle, rgba(35, 62, 88, 0.5) 5%, rgba(54, 7, 7, 0) 70%, rgba(0, 0, 0, 0.3) 90%);
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@layer utilities {

  .border-gradient-to-r::before,
  .border-gradient-to-r::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: inherit;
  }

  .border-gradient-to-r::before {
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #000000, #000000);
    border-image-slice: 1;
  }

  .border-gradient-to-r::after {
    border: 2px solid transparent;
    border-image: linear-gradient(110deg, #270303, #0d169b 80%);
    border-image-slice: 1;
  }
}